.md-customer-content__2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;

  height: calc(100vh - 80px);
  width: calc(100vw - 88px);

  background-color: #76D4B4;

  @media (max-width: 550px) {
    width: 100vw;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 20px;
    width: 450px;
    height: 400px;
    background-image: url("../../images/customer-modal/second-modal-bg.svg");
    background-repeat: no-repeat;
    background-size: 28rem;

    @media (min-width: 1600px) {
      width: 550px;
      height: 500px;
      background-size: initial;
    }

    @media (max-width: 950px) {
      width: 150px;
      height: 300px;
      left: 0;
      background-image: url("../../images/customer-modal/second-modal-small-bg.svg");
      background-size: initial;

    }
  }

  &_title,
  &_description {
    color: var(--font-color);
    text-align: center;
  }

  &_title {
    margin-bottom: 0;
    font-size: 40px;
    width: 80%;

    @media (min-width: 1920px) {
     font-size: 60px;
    }

    @media (max-width: 720px) {
      width: 75%;
      font-size: 30px;
    }
  }

  &_description {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    width: 80%;

    @media (min-width: 1920px) {
      font-size: 30px;
    }

    @media (max-width: 720px) {
      font-size: 14px;
    }
  }
}

.advantage-container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);

  row-gap: 20px;
  bottom: 80px;

  justify-content: center;


  @media (max-width: 950px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 30px;
  }

  @media (max-width: 720px) {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 20px;
  }

  @media (max-width: 450px) {
    grid-template-rows: repeat(4, 1fr);
  }

  &__1 {
    grid-column: 2 / span 4;
    grid-row: 1 / span 2;

    font-size: 4vh;
    font-weight: 700;
    color: #8347F7;
    text-align: center;

    @media (max-width: 1250px), (max-height: 790px) {
      font-size: 3vh;
    }
    @media (max-width: 1100px) {
      grid-column: 2 / span 5;
    }

    @media (max-width: 950px) {
      grid-column: 2 / span 3;
      grid-row: 2 / span 1;

      font-size: 20px;
    }

    @media (max-width: 720px) {
      grid-column: 2 / span 5;
    }

    @media (max-width: 500px) {
      grid-row: 1 / span 1;

    }

    }

  &__2,
  &__3,
  &__6 {
    font-size: 20px;
    font-weight: 400;
    color: var(--font-color);
    text-align: center;

    @media (min-width: 1920px) {
      font-size: 30px;
    }

    @media (max-width: 720px) {
      font-size: 15px;
    }
  }

  &__2 {
    position: relative;
    grid-column: 9 / span 3;
    grid-row: 2 / span 1;


    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: -40px;
      width: 430px;
      height: 180px;
      background-image: url("../../images/customer-modal/right-dialog.svg");
      background-repeat: no-repeat;

      @media (max-width: 1360px) {
        display: none;
      }
      @media (min-width: 1500px) {
        display: none;
      }

    }
    @media (max-width: 1250px) {
      grid-column: 8 / span 4;
      font-size: 19px
    }

    @media (max-width: 950px) {
      grid-column: 2 / span 3;
      grid-row: 3 / span 2;
    }

    @media (max-width: 720px) {
      grid-row: 3 / span 1;
      grid-column: 3 / span 3;

      font-size: 16px;
    }

    @media (max-width: 500px) {
      grid-column: 2 / span 5;
      grid-row: 2 / span 1;
    }
    }

  &__3 {
    position: relative;
    grid-column: 2 / span 3;
    grid-row: 5 / span 2;

    &:before {
      content: "";
      position: absolute;
      bottom: 20px;
      left: -10px;
      width: 430px;
      height: 180px;
      background-image: url("../../images/customer-modal/left-dialog.svg");
      background-repeat: no-repeat;

      @media (max-width: 1360px) {
        display: none;
      }
      @media (min-width: 1500px) {
        display: none;
      }

    }

    @media (max-width: 950px) {
      grid-row: 4 / span 2;
      grid-column: 3 / span 2;
    }

    @media (max-width: 720px) {
      grid-column: 4 / span 3;
      grid-row: 4 / span 2;
    }

    @media (max-width: 500px) {
      grid-row: 3 / span 2;
    }
  }


  &__4,
  &__5 {
    display: none;
    position: absolute;
    background-repeat: no-repeat;
  }

  &__4 {
    grid-column: 4 / span 2;
    grid-row: 6 / span 2;
    width: 170px;
    height: 100px;
    background-image: url("../../images/customer-modal/modal-left-arrow.svg");

    @media (max-width: 1250px) {
      grid-column: 3 / span 1;
    }

    @media (max-width: 950px) {
      position: fixed;
      bottom: 250px;
      left: 70px;

      width: 50px;
      height: 90px;
      background-image: url("../../images/customer-modal/small-left-arrow.svg");
    }

    @media (max-width: 550px) {
      bottom: 230px;
      left: -10px;
    }
  }

  &__5 {
    grid-column: 8 / span 3;
    grid-row: 4 / span 3;

    left: 50px;
    width: 200px;
    height: 200px;
    background-image: url("../../images/customer-modal/modal-right-arrow.svg");

    @media (max-width: 950px) {
      position: fixed;
      bottom: 100px;
      left: 150px;

      width: 90px;
      height: 50px;
      background-image: url("../../images/customer-modal/small-right-arrow.svg");
    }

    @media (max-width: 550px) {
      bottom: 70px;
      left: 70px;
    }
  }


  &__6 {
    grid-column: 9 / span 3;
    grid-row: 6 / span 1;

    @media (max-width: 950px) {
      grid-column: 4 / span 2;
      grid-row: 6 / span 1;
      margin-top:auto;
    }

    @media (max-width: 720px) {
      grid-column: 4 / span 3;
      grid-row: 5 / span 1;
    }

    @media (max-width: 450px) {
      grid-row: 4 / span 1;
      grid-column: 4 / span 4;

    }



    &_title {
      font-size: 20px;
      font-weight: 400;
    }

    &_link {
      text-decoration: none;
      color: coral;
    }
  }
}


.md-modal__close-button2 {
  position: absolute;
  width: 70px;
  height: 70px;
  right: 15px;
  top: 15px;
  background-image: url("../../images/close-icon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position-x: 50% ;

  border: none;
  outline: none;
  cursor: pointer;

  @media (max-width: 550px) {
    background-size: 3rem;
  }
}